<%- include('partials/header') -%>
<div class="post-block">
  <h1 class="post-heading"><%=name%></h1>
  <form class="" action="/edit/<%=count%>" method="post">
    <textarea class="text-input" name="customInput" rows="20" cols="80" placeholder="<%=data%>" disabled></textarea>
    <button class="submit" type="submit" name="submit">EDIT</button>
  </form>
</div>
<%- include('partials/footer') -%>
